@import '/home/ishan/.cache/wal/colors-waybar.css';

@define-color bg @background;
@define-color fg @foreground;
@define-color textcolor @cursor;
@define-color c15 @color15;
@define-color c14 @color14;
@define-color c13 @color13;
@define-color c12 @color12;
@define-color c11 @color11;
@define-color c10 @color10;
@define-color c9 @color9;
@define-color c8 @color8;
@define-color c7 @color7;
@define-color c6 @color6;
@define-color c5 @color5;
@define-color c4 @color4;
@define-color c3 @color3;
@define-color c2 @color2;
@define-color c1 @color1;
@define-color c0 @color0;

* {
  border: none;
  font-family:'JetBrains Mono Nerd Font';
  font-size: 15px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 20px;
}

window#waybar {
  background: transparent;
}

#custom-arch, #workspaces {
  border-radius: 10px;
  background-color: #1B0403;
  color: @fg;
  margin-top: 10px;
  margin-right: 15px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 10px;
}

#custom-arch {
  font-size: 20px;
  margin-left: 15px;
  color: #F9D5C1;
}

#workspaces button {
  background: @bg;
  color: #F9D5C1;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery{
  border-radius: 7px;
  background-color: @bg;
  color: @c14;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#backlight, #bluetooth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0
}

#pulseaudio, #network {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
}

#clock {
  margin-right: 0;
}
